page-routes {
  .route-name {
    font-size: medium;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;

  }

  .route-dist {
    font-size: large;
    font-weight: bold;
  }

  .route-city {
    font-size: medium;
    font-weight: bold;
    color: #60646B;
  }

  .route-dist-away {
    font-size: small;
    font-style: italic;
  }
}
