<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal">
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
    <div class="circular" [style.background-image]="rsvp.member.photo.photo_link"></div>
    <div class="name-container">{{rsvp.member.name}}</div>
    <div class="city-container">{{profile.city}}</div>
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col>-->
          <!--<h4>Groups</h4>-->
          <!--<div class="stats-number">{{profile.stats.groups}}</div>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
          <!--<h4>Topics</h4>-->
          <!--<div class="stats-number">{{profile.stats.topics}}</div>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
          <!--<h4>RSVPs</h4>-->
          <!--<div class="stats-number">{{profile.stats.rsvps}}</div>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
    <p class="profile-description">{{profile.bio}}</p>
    <div class="group-container">{{group.name}}</div>
    <div class="role-container" *ngIf="rsvp.member.role != 'member'">{{rsvp.member.roleStr}}</div>
    <div class="since-container">Member since {{profile.groupProfile.createdYear}}</div>
    <p class="profile-description">{{profile.groupProfile.intro}}</p>
    <!--<hr>-->
    <!--<div *ngIf="profile.privacy.topics == 'visible'" class="topics-container">-->
      <!--<span *ngFor="let topic of profile.topics"> {{topic.name}} &#x25E6;</span>-->
    <!--</div>-->
  </div>

</ion-content>
