<ion-header>

  <ion-navbar>
    <ion-title text-center>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #signUpRef="ngForm" (submit)="doSignup()">
    <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="account.userName"
          name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input
          required
          type="email"
          [(ngModel)]="account.email"
          name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Group</ion-label>
        <ion-select [(ngModel)]="selectedGroup" name="groupName" required>
          <ion-option *ngFor="let group of groups" [value]="group.value">{{group.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input
          required
          type="password"
          [(ngModel)]="password"
          [minlength]="6"
          name="password"></ion-input>
      </ion-item>

      <div padding>
        <button
          ion-button
          color="primary"
          [disabled]="!signUpRef.valid"
          large
          type="submit"
          block>Sign Up</button>
      </div>

    </ion-list>
  </form>
  <hr>
  <h6 text-center>Or sign up with Google.  Just select a group.</h6>
  <form #signUpGoogleRef="ngForm" (submit)="onGoogleSignIn()">
    <ion-item>
      <ion-label floating>Group</ion-label>
      <ion-select [(ngModel)]="selectedGroup" name="selectedGroup" required>
        <ion-option *ngFor="let group of groups" [value]="group.value">{{group.name}}</ion-option>
      </ion-select>
    </ion-item>
    <div padding>
      <button
        ion-button
        color="accent"
        large
        type="submit"
        block>Log In with Google</button>
    </div>
  </form>
</ion-content>
