<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Meetup Info</ion-title>
    <!--<ion-buttons end>-->
      <!--<button-->
        <!--ion-button-->
        <!--icon-only-->
        <!--(click)="likeEvent()">-->
        <!--<ion-icon name="star-outline"></ion-icon>-->
      <!--</button>-->
      <!--<button-->
        <!--ion-button-->
        <!--icon-only-->
        <!--full-->
        <!--(click)="unlikeEvent()">-->
        <!--<ion-icon name="star"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <div class="upper-info">

    <ion-grid>
      <ion-row>
        <ion-col col-3 class="group-image-container">
          <preload-image class="group-image" [ratio]="{w:4,h:3}" [src]="event.group.keyPhoto.thumb_link" title="Group Photo"></preload-image>
        </ion-col>
        <ion-col col-9>
          <ion-row>
            <ion-col class="group-name" no-padding>{{event.group.name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="group-location" no-padding>{{event.group.location}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="meetup-title">{{ event.eventName }}</div>

    <hr>
    <button
      *ngIf="hasRSVP == 'no'"
      class="rsvp-button"
      ion-button
      block
      (click)="joinAndRSVP('yes')">RSVP</button>
    <button
      *ngIf="hasRSVP == 'yes'"
      class="rsvp-button"
      ion-button
      block
      (click)="joinAndRSVP('no')">Not Going</button>
    <hr>

    <ion-grid class="important-info">
      <ion-row (click)="onDateClick()">
        <ion-col col-1><ion-icon name="calendar"></ion-icon></ion-col>
        <ion-col class="date-info">
          <ion-row><ion-col>{{ event.timeInfo.day }}, {{ event.timeInfo.month }} {{ event.timeInfo.date }}</ion-col></ion-row>
          <ion-row><ion-col>{{ event.timeInfo.startTime }} - {{ event.timeInfo.endTime }}</ion-col></ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="event.venue" (click)="onAddrClick()">
        <ion-col col-1><ion-icon name="pin"></ion-icon></ion-col>
        <ion-col class="address-info">
          <ion-row>
            <ion-col>{{ event.venue.name }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ event.venue.location.address_1 }}, {{ event.venue.city }} {{ event.venue.zip }}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1><ion-icon name="person"></ion-icon></ion-col>
        <ion-col class="host-info">{{ event.host }}</ion-col>
      </ion-row>
      <ion-row (click)="onGoingClick()">
        <ion-col class="going-info">{{ event.yesRSVPCount }} people are going</ion-col>
      </ion-row>
      <ion-row (click)="onGoingClick()">
        <ion-col col-1 class="going-pics" *ngFor="let memURL of rsvpSampleURLs">
          <div class="profile-thumb" [style.background-image]="memURL"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <preload-image *ngIf="event.featurePhoto" [ratio]="{w:2, h:1}" [src]="event.featurePhoto.photo_link" title="featured_photo"></preload-image>

  <div class="description-text">
    <div [innerHtml]="event.description"></div>
    <div *ngIf="event.howToFindUs">
      <h6>How to find us.</h6>
      <p>{{ event.howToFindUs }}</p>
    </div>
  </div>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <!--<agm-map [zoom]="mapOptions.zoom" [latitude]="event.venue.lat" [longitude]="event.venue.lon">-->
    <!--<agm-marker [latitude]="event.venue.lat" [longitude]="event.venue.lon"></agm-marker>-->
  <!--</agm-map>-->
  <div *ngIf="event.venue"
    class="map-image-container"
    [style.background-image]="safeMapSrcStyle"
    (click)="onAddrClick()"></div>

  <h6 class="comments-title">Comments</h6>
  <div>
    <ion-grid class="comment-button-container">
      <ion-row clas="comment-button-row">
        <ion-col col-1>
          <div class="self-thumb" [style.background-image]="selfProfile.photo.thumb_link"></div>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-8>
          <button ion-button block small class="comment-button" (click)="addComment(0)">Add a comment</button>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="comments-container">
    <ion-list>
      <ion-item no-padding *ngFor="let comment of comments">
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <div class="comment-thumb" [style.background-image]="comment.member.photo.thumb_link"></div>
            </ion-col>
            <ion-col col-11>
              <ion-row class="comment-header">
                <ion-col>
                  <div class="header-flex-container">
                    <div class="comment-poster">{{ comment.member.name }}</div>
                    <div class="comment-bull">&bull;</div>
                    <div class="comment-date">{{ comment.postDate }}</div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>{{comment.comment}}</p>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <button
                    ion-button
                    class="reply-button"
                    clear
                    small
                    (click)="addComment(comment.id)"
                    icon-start>Reply</button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list class="reply-container" *ngIf="comment.replies.length > 0">
          <ion-item no-padding *ngFor="let reply of comment.replies">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                  <div class="comment-thumb" [style.background-image]="reply.member.photo.thumb_link"></div>
                </ion-col>
                <ion-col col-11>
                  <ion-row class="comment-header">
                    <ion-col>
                      <div class="header-flex-container">
                        <div class="comment-poster">{{ reply.member.name }}</div>
                        <div class="comment-bull">&bull;</div>
                        <div class="comment-date">{{ reply.postDate }}</div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p>{{reply.comment}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
