$rsvp-button-radius: 50px;

page-event-detail {

  agm-map {
    height: 200px;
    width: 100%;
  }

  .map-image-container {
    height: 200px;
    width: 100%;
    background-size: cover;
  }


  .group-image-container {
  }

  .group-image {
    background-size: cover;
  }

  //.rsvp-button {
  //  margin-top: 2rem;
  //  margin-bottom: 2rem;
  //
  //}
  .button-spacer {
    max-width: 2px;
  }
  //.going-button-col {
  //  text-align: left;
  //}
  //.not-going-button-col {
  //  text-align: center;
  //}
  .going-text {
    font-size: large;
    font-weight: bold;
  }
  .group-name {
    margin-left: 1rem;
    margin-bottom: 4px;
    font-size: small;
    font-weight: bold;
  }

  .group-location {
    margin-left: 1rem;
    font-size: small;
    color: #8f8f8f;
  }

  .upper-info {
    padding: 2rem;
    width: 100%;
  }

  .meetup-title {
    font-size: x-large;
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .date-info, .address-info, .host-info,
  .going-info, .going-pics {
    width: 100%;
    font-size: medium;
  }

  .going-pics-text {
    font-size: medium;
    text-decoration: underline;
  }

  .important-info {
    margin-top: 2rem;
  }

  .going-info {
    margin-top: 2rem;
  }

  .description-text {
    font-size: medium;
    padding: 1rem 2rem 1rem;
  }

  .profile-thumb {
    height: 25px;
    width: 25px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;

  }

  .comments-title, .where-text, .route-text {
    padding-left: 2rem;
  }

  .comment-button-container {
    padding-left: 2rem;
  }
  .comment-button {
    background-color: gray;
  }

  .comments-container {
    padding: 1rem;
  }

  .header-flex-container {
    display: flex;
  }
  .comment-poster, .comment-date, .comment-bull {
    vertical-align: middle;
  }
  .comment-poster {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: medium;
  }
  .comment-bull {
    color: #60646B;
    font-size: small;
  }
  .comment-date {
    font-size: small;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #60646B;
  }

  .comment-thumb, .self-thumb {
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
  }

  .reply-container {
    padding-left: 2rem;
  }
}

.ios{
  page-event-detail {
    .rsvp-button {
      font-size: large;
      height: $rsvp-button-radius;
      width: $rsvp-button-radius;
      border-radius: 50%;
    }
  }
}

.md {
  page-event-detail {
    .rsvp-button {
      font-size: x-large;
      height: $rsvp-button-radius;
      width: $rsvp-button-radius;
      border-radius: 50%;
    }
  }
}
