<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Meetup Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <div class="upper-info">

    <ion-grid>
      <ion-row>
        <ion-col col-3 class="group-image-container">
          <preload-image class="group-image" [ratio]="{w:4,h:3}" [src]="event.group.keyPhoto.thumb_link" title="Group Photo"></preload-image>
        </ion-col>
        <ion-col col-9>
          <ion-row>
            <ion-col class="group-name" no-padding>{{event.group.name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="group-location" no-padding>{{event.group.location}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="meetup-title">{{ event.eventName }}</div>

    <hr>
    <ion-grid>
      <ion-row align-items-center text-center>
        <ion-col class="going-text" no-padding col-6>{{ rsvpString }}</ion-col>
        <ion-col no-padding class="going-button-col" col-2>
          <button
            ion-button
            [outline]="goingOutline"
            round
            class="rsvp-button"
            (click)="onGoingClick()">&#x2714;</button>
        </ion-col>
        <ion-col col-1 class="button-spacer"></ion-col>
        <ion-col no-padding class="not-going-button-col" col-2>
          <button
            ion-button
            class="rsvp-button"
            round
            [outline]="notGoingOutline"
            (click)="onNotGoingClick()">&#x2716;</button>
        </ion-col>
        <ion-col col-1 class="button-spacer"></ion-col>
      </ion-row>
    </ion-grid>
    <hr>

    <ion-grid class="important-info">
      <ion-row (click)="onDateClick()">
        <ion-col col-1><ion-icon name="calendar"></ion-icon></ion-col>
        <ion-col class="date-info">
          <ion-row><ion-col>{{ event.timeInfo.day }}, {{ event.timeInfo.month }} {{ event.timeInfo.date }}</ion-col></ion-row>
          <ion-row><ion-col>{{ event.timeInfo.startTime }} - {{ event.timeInfo.endTime }}</ion-col></ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="event.venue" (click)="onAddrClick()">
        <ion-col col-1><ion-icon name="pin"></ion-icon></ion-col>
        <ion-col class="address-info">
          <ion-row>
            <ion-col>{{ event.venue.name }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ event.venue.location.address_1 }}, {{ event.venue.city }} {{ event.venue.zip }}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="hosts.length > 0">
        <ion-col col-1><ion-icon name="person"></ion-icon></ion-col>
        <ion-col class="host-info" *ngIf="hosts.length == 1" (click)="onProfile(hosts[0])">Hosted by {{hosts[0].member.name}}</ion-col>
        <ion-col class="host-info" *ngIf="hosts.length > 1">Hosted by
          <span *ngFor="let host of hosts; let i = index">
            <span *ngIf="i != (hosts.length-1)" (click)="onProfile(host)">{{host.member.name}}, </span>
            <span *ngIf="i == (hosts.length-1)" (click)="onProfile(host)">{{host.member.name}}</span>
          </span>
        </ion-col>
      </ion-row>
      <ion-row (click)="onMembersGoingClick()">
        <ion-col class="going-info">
          <span *ngIf="event.yesRSVPCount > 1">{{ event.yesRSVPCount }} people are going</span>
          <span *ngIf="event.yesRSVPCount == 1">One person is going</span>
          <span *ngIf="event.yesRSVPCount <= 0">No one is going yet</span>
          <span *ngIf="event.yesRSVPCount > 0 && guestCount > 0">, {{ guestCount }} are guests</span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rsvpGoingURLs.length > 0"><ion-col><div class="going-pics-text">Going</div></ion-col></ion-row>
      <ion-row *ngIf="rsvpGoingURLs.length > 0" text-left (click)="onMembersGoingClick()">
        <ion-col col-1 *ngFor="let memURL of rsvpGoingURLs">
          <div class="profile-thumb" [style.background-image]="memURL"></div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="rsvpNotGoingURLs.length > 0"><ion-col text-right><div class="going-pics-text">Not Going</div></ion-col></ion-row>
      <ion-row *ngIf="rsvpNotGoingURLs.length > 0" justify-content-end (click)="onMembersGoingClick()">
        <ion-col col-1 class="going-pics" *ngFor="let memURL of rsvpNotGoingURLs">
          <div class="profile-thumb" [style.background-image]="memURL"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <h6 class="details-title">Details</h6>
  <div class="description-text">
    <div [innerHtml]="event.description"></div>
    <div *ngIf="event.howToFindUs">
      <h6>How to find us.</h6>
      <p>{{ event.howToFindUs }}</p>
    </div>
  </div>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <!--<agm-map [zoom]="mapOptions.zoom" [latitude]="event.venue.lat" [longitude]="event.venue.lon">-->
    <!--<agm-marker [latitude]="event.venue.lat" [longitude]="event.venue.lon"></agm-marker>-->
  <!--</agm-map>-->
  <h6 *ngIf="event.venue" class="where-text">Where to meet</h6>
  <div *ngIf="event.venue"
    class="map-image-container"
    [style.background-image]="safeMapSrcStyle"
    (click)="onAddrClick()"></div>

  <h6 *ngIf="db_meetup_data.route" class="route-text">Route Information</h6>
  <ion-grid *ngIf="db_meetup_data.route">
    <ion-row class="route-info">
      <ion-col col-7 no-padding>
        <ion-row>
          <ion-col>
            <span class="max-text">Max Elevation: </span>
            <span class="max-data">{{ db_meetup_data.route.max_elevation }} ft</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="min-text">Min Elevation: </span>
            <span class="min-data">{{ db_meetup_data.route.min_elevation }} ft</span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-5 class="left-col" no-padding>
        <ion-row>
          <ion-col>
            <span class="distance-text">Distance:</span>
            <span class="distance-data">{{ db_meetup_data.route.dist | number: '1.0-2' }} mi</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="gain-text">Gain:</span>
            <span class="gain-data">{{ db_meetup_data.route.gain | number: '1.0-0' }} ft</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="route-info">
      <ion-col class="steps-col" no-padding>
        <ion-row>
          <ion-col>
            <span class="step-text">Approximate Steps: </span>
            <span class="step-data">{{ steps | number: '1.0-0' }}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <agm-map
    *ngIf="db_meetup_data.route"
    [latitude]="db_meetup_data.route.start_lat"
    [longitude]="db_meetup_data.route.start_lng"
    [zoom]="13">
    <agm-kml-layer [url]="db_meetup_data.route.kml_url"></agm-kml-layer>
  </agm-map>

  <h6 class="comments-title">Comments</h6>
  <div>
    <ion-grid class="comment-button-container">
      <ion-row clas="comment-button-row">
        <ion-col col-1>
          <div class="self-thumb" [style.background-image]="selfProfile.photo.thumb_link"></div>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-8>
          <button ion-button block small class="comment-button" (click)="addComment(0)">Add a comment</button>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="comments-container">
    <ion-list>
      <ion-item no-padding *ngFor="let comment of comments">
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <div class="comment-thumb" [style.background-image]="comment.member.photo.thumb_link"></div>
            </ion-col>
            <ion-col col-11>
              <ion-row class="comment-header">
                <ion-col>
                  <div class="header-flex-container">
                    <div class="comment-poster">{{ comment.member.name }}</div>
                    <div class="comment-bull">&bull;</div>
                    <div class="comment-date">{{ comment.postDate }}</div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>{{comment.comment}}</p>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col>
                  <button
                    ion-button
                    class="reply-button"
                    clear
                    small
                    (click)="addComment(comment.id)"
                    icon-start>Reply</button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list class="reply-container" *ngIf="comment.replies.length > 0">
          <ion-item no-padding *ngFor="let reply of comment.replies">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                  <div class="comment-thumb" [style.background-image]="reply.member.photo.thumb_link"></div>
                </ion-col>
                <ion-col col-11>
                  <ion-row class="comment-header">
                    <ion-col>
                      <div class="header-flex-container">
                        <div class="comment-poster">{{ reply.member.name }}</div>
                        <div class="comment-bull">&bull;</div>
                        <div class="comment-date">{{ reply.postDate }}</div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p>{{reply.comment}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
