page-calendar {
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }

  .day-cell {
    min-height: 90px;
    font-size: medium;
    font-weight: bold;
  }

  .goal-star {
    color: limegreen;
  }
  .group-ribbon {
    color: forestgreen;
  }

  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }

  .currentDate, .otherDate {
    padding: 5px;
    text-align: left;
  }
  .currentDate {
    border: thin solid black;
    background-color: aliceblue;
    color: black;
  }
  .calendar-header {
    background-color: color($colors, primary);
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: color($colors, primary);
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px color($colors, primary);
      background-color: color($colors, primary);
    }
    .calendar-date {
      border-top: solid 1px color($colors, primary);
      border-bottom: solid 1px color($colors, primary);
    }
  }

  .steps-logged, .goal-met, .group-walk {
    border-bottom: thin solid #dce4ee;
    text-align: center;
  }
  .goal-met {
    border-right: thin solid #dce4ee;
    border-left: thin solid #dce4ee;
  }

  .achieve-text {
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: #8f8f8f;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .achieve-icon {
    font-size: xx-large;
    margin-bottom: 1rem;
  }
  .goal-met {
    color: limegreen;
  }
  .group-walk {
    color: forestgreen;
  }
}
