<!--
  Generated template for the ReportDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{report.service_name}} at {{report.street}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <img *ngIf="report.media_url" [src]="report.media_url" />

  <div class="report-info">
    <h4>#{{report.service_request_id}} {{report.service_name}}</h4>
    <p>{{report.description}}</p>
    <h6>{{report.address}}</h6>
    <h6>{{report.status}}</h6>
    <h6 *ngIf="report.status_notes">{{report.status_notes}}</h6>
  </div>
</ion-content>
