<ion-header>
  <ion-navbar>
    <ion-title text-center>Week View</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <section class="chart-wrapper">
    <canvas #barChart></canvas>
  </section>

  <div>
    <ion-grid>
      <ion-row class="header-row">
        <ion-col col-1 class="header-col"></ion-col>
        <ion-col col-2 class="header-col">Date</ion-col>
        <ion-col col-2 class="header-col"></ion-col>
        <ion-col col-7 class="header-col">Step Count</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list>
    <button class="list-item" ion-item *ngFor="let entry of fullChartData; let i = index" (click)="onEntryClick(entry, i)">
      <ion-grid>
        <ion-row class="content-row">
          <ion-col col-3 class="entry-date">
            {{entry.dateStr}}
          </ion-col>
          <ion-col col-2 class="goal-met">
            <ion-icon *ngIf="entry.data.steps >= entry.data.goal && entry.data.steps > 0" name="star"></ion-icon>
          </ion-col>
          <ion-col col-7 class="entry-steps">
            {{entry.data.steps}} <span class="steps-text">steps</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>

</ion-content>
