page-home {
  .chart-wrapper {
    width: 95%;
    display: inline-block;
  }
  canvas {
    height: 400px;
  }

  .content-row {
    align-items: center;

    .entry-date {
      font-size: large;
      font-style: italic;
    }

    .entry-steps {
      font-size: large;
      font-family: "Segoe UI", "Noto Sans", sans-serif;
    }
  }
}
