<ion-header>
  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-big-content">
  <div class="list-big">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of events; let i = index" (click)="onClickEvent(item, i)">
        <ion-row no-padding class="content-row">
          <ion-col no-padding text-center col-2 class="item-date">
            <ion-row class="event-day"><ion-col no-padding>{{item.eventDate.day}}</ion-col></ion-row>
            <ion-row class="event-month"><ion-col no-padding>{{item.eventDate.month | caps }}</ion-col></ion-row>
          </ion-col>
          <ion-col col-1 class="item-spacer"></ion-col>
          <ion-col no-padding col-9 class="item-content">
            <h3  class="item-title">{{item.eventName}}</h3>
            <p *ngIf="item.venue" class="item-place" row="3">{{item.venue.name}}</p>
            <p *ngIf="item.venue" class="item-city">{{item.venue.city}}</p>
            <!-- You can change the rows quantity by using rows="X", where X can be any number for example: rows="4" -->
          </ion-col>
          <!--<ion-col no-padding width-10 class="item-icon">-->
            <!--<ion-icon name="arrow-forward"></ion-icon>-->
          <!--</ion-col>-->
        </ion-row>
      </button>
    </ion-list>
  </div>
</ion-content>
