<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <div
        *ngIf="!isAuthenticated">
        <button
          ion-item
          *ngFor="let p of pages"
          (click)="openPage(p)">
          <h2>{{p.title}}</h2>
        </button>
      </div>
      <button ion-item (click)="onSignOut()">
        <h2>Sign Out</h2>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>

